

.error-input {
  border: red 1px solid
}

.error-message {
  color: red;
}

.active-filter {
  background-color: #c2c2c2;
  color: blue;
}

.is-done {
  opacity: 0.5;
}

.delete-button {
  background-color: #e00000;
  border: #7e0000 1px solid;
  color: white;
  border-radius: 5px;
}
